In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("excel_train.csv")
train.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,1,0,3,7.2500,22.0,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,71.2833,38.0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,7.9250,26.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,53.1000,35.0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,8.0500,35.0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
validation = pd.read_csv("excel_validation.csv")
validation.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,6,0,3,8.4583,0.0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,1,51.8625,54.0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,8,0,3,21.0750,2.0,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,1,2,30.0708,14.0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,1,1,26.5500,58.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test = pd.read_csv("excel_test.csv")
test.head()

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,892,3,7.8292,34.5,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,893,3,7.0000,47.0,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,894,2,9.6875,62.0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,895,3,8.6625,27.0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,896,3,12.2875,22.0,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X_train = train.drop(['PassengerId','Survived'],axis = 1)

In [7]:
y_train = train['Survived']

In [9]:
X_val = train.drop(['PassengerId','Survived'],axis = 1)

In [10]:
y_val = train['Survived']

In [11]:
from sklearn.linear_model import LogisticRegression

In [14]:
logMod = LogisticRegression(solver = 'liblinear')

In [15]:
logMod.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
logMod.score(X_train,y_train)

0.8338028169014085

In [18]:
logMod.coef_

array([[-0.5002923 ,  0.00988679, -0.01156913, -0.37866501, -1.06701475,
         0.07180692, -0.92581392,  1.52824608,  1.02096936,  2.22912928,
         0.1286924 ,  0.50479508, -0.30890227,  0.01766211,  1.19991515,
        -0.61199004,  0.5469599 ,  0.31628164,  0.47090641,  0.32010114,
        -0.18566158, -0.27552824, -0.21924154,  0.20816184,  0.43949616,
         0.37262669, -0.06025093, -0.08727606, -0.34408458, -0.23191364,
        -0.86933629,  0.07416887, -0.44476233,  1.27866982,  0.68652979,
         0.55591944,  0.68014275,  1.35943835,  0.04242763,  0.        ,
         0.13872407, -0.92211157,  0.        , -0.12321333]])

In [19]:
logMod.intercept_

array([1.68649524])

## Evaluation of Test

In [21]:
X_val.head(1)

,Pclass,Fare_1,Age_1,Family,Sex_1,IsAlone,Title_Mr,Title_Mrs,Title_Miss,Title_Master,...,Ticket_C,Ticket_LINE,Ticket_FCC,Ticket_SWPP,Ticket_PPP,Ticket_SC,Ticket_SCAH,Ticket_SOPP,Ticket_FC,Ticket_SOTONO2
0,3,7.25,22.0,2,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
y_val_pred = logMod.predict(X_val)

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_val,y_val_pred))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       435
           1       0.81      0.75      0.78       275

    accuracy                           0.83       710
   macro avg       0.83      0.82      0.82       710
weighted avg       0.83      0.83      0.83       710

In [27]:
logMod.score(X_val,y_val)

0.8338028169014085

## Prediction of Test

In [28]:
X_test = test.drop(['PassengerId'],axis=1)

In [29]:
y_test_pred = logMod.predict(X_test)

In [30]:
AllSub = pd.DataFrame({'PassengerId':test["PassengerId"],
                      'Survived':y_test_pred})

AllSub.to_csv("Submission.csv", index = False)